* {
  font-size: 10px;
}

body {
  background-color: rgb(240, 240, 240);
}

/* div {
  border: 1px solid black;
} */

.searchbar {
  height: 4vh;
}

textarea {
  height: 30vh;
}

.send {
  filter: invert(1);
}